/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/deploy.rb
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/vagrant/
vagrant
/web/bower_components/
/web/images/node_modules/
/web/bundles/
/web/uploads/
/web/css/
/web/js/
.idea/
.DS_Store
*~

