{% extends '::base.html.twig' %}

{% block body %}

<article class="module width_full">
    <header><h3>M&oacute;dulo de Control de solicitudes de Entes de Control</h3></header>
				<div class="module_content">
					<p>
						Sistema de registro de solucitudes o correspondencia para una entidad, el cual lleva el control de correspondencia y/o solicitudes
						y con base en la fecha de recepción y el número de dias para respuesta se generan alertas automaticas que indican si el documento
						o solicitud esta próximo a vencer.
					</p>

				</div>
		</article><!-- end of styles article -->
		<div class="spacer"></div>

{% endblock %}